modules = ["python-3.11"]
[nix]
channel = "stable-24_05"
packages = ["SDL2", "SDL2_image", "SDL2_mixer", "SDL2_ttf", "fontconfig", "freetype", "hobbes", "libjpeg", "libpng", "pkg-config", "portmidi"]
